<%- include('../partials/header') %>

<h1>Skills as of <%= time %></h1>
<ul>
  <% skills.forEach(function(t) { %>
    <li>
      <a href="/skills/<%= t.id %>"><%= t.skill %></a>
        - 
      <%= t.proven ? 'proven' : 'unproven' %>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add Skill</a>
  
